* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.conteiner-header{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
    height: 84px;
    background-color: white;
}

.parteComImagens{
    width: 100%;
    height: 642px;
    justify-content: center;
    display: flex;
    background-color: lightgray;
}


a{
    padding: 20px;
}